# Ignored paths and directories
## pycharm project path
.idea

## vim temporal files
**/*.swp

## temporal TeX files
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/tex/_minted-main/*.*
**/*.bbl
**/*.bcf
**/*.blg
**/*.out
**/*.run.xml
**/tex/main.pdf
**/tex/cv-two-pages.pdf
**/tex/cv-n-pages.pdf
**/tex/cv-n-pages.bcf-SAVE-ERROR
**/tex/cv-n-pages.bbl-SAVE-ERROR
**input.pdf

##/png images
**/output-*.png
