# Ignored paths and directories
## pycharm project path
.idea

## vim temporal files
**/*.swp

## temporal TeX files
**/*.aux
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.nav
**/tex/main.pdf
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.vrb
**/tex/_minted-main/*.*
**/*.bbl
**/*.bcf
**/*.blg
**/*.out
**/*.run.xml

##/png images
**/output-*.png